<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="Web-FSLog.ZPM">
    <Module>
      <Name>Web-FSLog</Name>
      <ExternalName>webfslog</ExternalName>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.FHIR.PKG"/>
    </Module>
  </Document>
</Export>
